@charset "utf-8";
/* CSS Document */

/* Barra de navegación */

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;  
}


/* Estilos generales */

*{ 
  padding: 0;
  margin: 0;
}
h1{
  color: #FFC7D4;
  font-size: 4rem;
}

h2{
	color:#BB68FC;
}

h3{
	color: #5F1A96;
}

.titulos {
  height: 600px;
  	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallax{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 670px;
  position: relative;
}

/* Imag atrás */
.bg1{
background-image: url("1.png");
}
.bg2{
background-image: url("2.png");
}
.bg3{
background-image: url("3.png");
}

/* Responsivo */
.bg1, .bg2, .bg3 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 
}


.texto {
  padding: 5%;
  width: 100%;
  background-color: white;
	text-align: justify;
}


#integrantes .imagenes
img{
    padding-right: 2%;
    padding-bottom: 2%;
}

body{
  color: rgb(27, 27, 27);
  font-family: 'Krub' !important;
  font-size: 1.15rem;
  line-height: 1.4;
  }
      .portfolio-item-caption{
        background-color: #aa84f9 !important;
      }
      
      .modal-body .btn-primary {
        background-color: #aa84f9 !important;
        border: none;
      }
      
      body {
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
/*ESTILOS FOOTER*/
footer {
    padding-top: 2%;
    padding-bottom: 1%;
	text-align: center;
	background-color: purple;
	color: #bcbcbc;
  min-height: 250px;
  
}

#footer .gotop {
  position: fixed;
  z-index: 3;
  bottom: 2vh;
  right: 2vw;
}
#footer .gotop img {
  width: 5vw;
}

/* iconos */

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
  font-family: 'Quicksand', sans-serif;
}

/* Media */

@media screen and (max-width: 800px) and  (min-width: 200px) {
  /* Para teléfonos: */
  [class*="col-"] {
    width: 100%;
  }
 
  .iconos-redes-sociales {
    display: flex;
    justify-content: space-around;
  }
  body
  {
    font-size: 1.5rem;
  }
  h1
  {
    font-size: 3rem;
  }

  h2 {
    text-align: center;
  }
  #footer .gotop img {
    width: 70px;
    opacity: 0.8;
}
}

